.infoCardWrapper {
    display: flex;
    flex-direction: column;
    padding: 30px 23px;
    width: 30%;
    height: 100%;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 14px;
    background-color: #fff;
}

.infoCardTitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.aboutPeople {
    margin-bottom: 10px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.infoCardName {
    font-size: 1.1rem;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.infoCardEmail {
   font-size: .8rem;
   text-decoration: none;
}


.infoCardSub {
    font-size: .8rem;
    color: #9A9A9A;
    justify-content: left;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: inherit;
}