.cardWrapper {
    font-family: 'Montserrat', sans-serif;
    padding: 36px 20% 35px 26px;
    border-radius: 14px;
    display: flex;
    gap: 17px;
    max-height: 121px;
    font-size: .9rem;
    background-color: #fff;
    align-items: center;
    word-wrap: anywhere;
    border: 0px;
    background-color: #fff;
}

.cardWrapper:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}

.cardTitle {
    margin: 0;
    max-height: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}