.greetingWrapper {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 3rem;
    max-width: 50%;
    width: 42%;
}

.greetingText{
    font-size: 1.5rem;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

.greetingBig{
    font-size: 2rem;
    font-weight: 900;
}