$color-link: #0066FF;
$main-button-active-color: #dab7ff;
$main-button-hover-color: #CFA2FF;
$error-color: #FF0000;
$main-font: 'Montserrat', sans-serif;
$standart-border-radius: 14px;
$input-height: 15%;
$input-border: 1px #C7C7C7;

@mixin name-page {
    font-size: 1.5rem;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

@mixin overflow-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}