$color-link: #0066FF;
$main-button-active-color: #dab7ff;
$main-button-hover-color: #CFA2FF;
$error-color: #FF0000;
$main-font: 'Montserrat', sans-serif;
$standart-border-radius: 14px;
$input-height: 15%;
$shadow: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.20));
$input-border: 3px solid #F0F3FF;
$prefixTitleSystem: #CFA2FF;

@mixin name-rubric {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 50px;
}

@mixin name-page {
    font-size: 1.5rem;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

@mixin overflow-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}