form {
    width: 54%;
    height: 47px;
    border-radius: 14px;
    position: relative;
    margin-right: 10%;
}

input {
    background: #fff;
    border: transparent;
    height: 100%;
    width: 90%;
    border-radius: 14px;
    padding-left: 20px;
    font-size: 1.25rem;
    font-family: 'Montserrat';
    font-weight: 200;
    padding-right: 10%;
}

.icon {
    width: 35px;
    position: absolute;
    display: inline;
    right: -20px;
    top: 20%;
}