.navActive {
    max-width: 30%;
    height: 93vh;
    margin: 30px;
    margin-top: 20px;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s;
}

.navDisable {
    transition: .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 8%;
    align-items: center;
    padding: 10px 0px 10px 0px;
    height: 93vh;
}

.navHeader, .navItem, .navUsernameActive {
    display: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.navItem {
    margin-bottom: 30%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navItemDisable {
    display: none;
}

.navTitleActive {
    display: auto;
}

.navTitleDisable {
    display: none;
}

.navHeader {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
}

.buttonNav {
    background-color: transparent;
    border: 0px;
    border-radius: 14px;
}

.buttonNav:hover {
    background-color: #f9f9f9;
}

.iconDisable {
    display: inline;
}

.iconActive, .navUsernameDisable  {
    display: none;
}

.iconSectionDisable {
    display: block;
    margin-bottom: 100%;
}

.iconSectionActive {
    display: auto;
}

img {
    width: 60px;
}

.navLinkActive {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.navLinkDisable {
    display: block;
}

.navTitleActive {
    display: auto;
}

.navTitleDisable {
    display: none;
}

.linkTitleActive {
    display: inline;
}

.linkTitleDisable {
    display: none;
}